<form method="post" action="{{ path('endereco_delete', {'id': endereco.id}) }}" onsubmit="return confirm('Tem certeza que dejesa Deletar este endereço?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ endereco.id) }}">
    <button class="btn btn-danger mt-10">Delete</button>
</form>