{% extends 'base.html.twig' %}

{% block title %} - Editar Endereço{% endblock %}

{% block body %}
    <h2 class="text-center">Editar Endereço</h2>

    {{ include('endereco/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('endereco_index') }}" class="btn btn-warning mt-10">Voltar para a Listagem</a>

    {{ include('endereco/_delete_form.html.twig') }}
{% endblock %}