{% extends 'base.html.twig' %}

{% block title %} - Cadastrar Endereço{% endblock %}

{% block body %}
    <h2 class="text-center">Cadastrar Endereço</h2>

    {{ include('endereco/_form.html.twig', {'button_label': 'Cadastrar'}) }}

    <a href="{{ path('endereco_index') }}" class="btn btn-warning mt-10">Voltar para a Listagem</a>
{% endblock %}