<form method="post" action="{{ path('estado_delete', {'id': estado.id}) }}" onsubmit="return confirm('Tem certeza que dejesa Deletar este estado?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estado.id) }}">
    <button class="btn btn-danger mt-10">Deletar</button>
</form>