{% extends 'base.html.twig' %}

{% block title %} - Cadastrar Estado{% endblock %}

{% block body %}
    <h2 class="text-center">Cadastrar Estado</h2>

    {{ include('estado/_form.html.twig', {'button_label': 'Cadastrar'}) }}

    <a href="{{ path('estado_index') }}" class="btn btn-warning mt-10">Voltar para a Listagem</a>
{% endblock %}