{% extends 'base.html.twig' %}

{% block title %} - Editar Cidade{% endblock %}

{% block body %}
    <h2 class="text-center">Editar Cidade</h2>

    {{ include('cidade/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('cidade_index') }}" class="btn btn-warning mt-10">Voltar para a Listagem</a>

    {{ include('cidade/_delete_form.html.twig') }}
{% endblock %}