{% extends 'base.html.twig' %}

{% block title %}New Cidade{% endblock %}

{% block body %}
    <h1>Create new Cidade</h1>

    {{ include('cidade/_form.html.twig') }}

    <a href="{{ path('cidade_index') }}">back to list</a>
{% endblock %}