{% extends 'base.html.twig' %}

{% block title %} - Cadastrar Cidade{% endblock %}

{% block body %}
    <h2 class="text-center">Cadastrar Cidade</h2>

    {{ include('cidade/_form.html.twig', {'button_label': 'Cadastrar'}) }}

    <a href="{{ path('cidade_index') }}" class="btn btn-warning mt-10">Voltar para a Listagem</a>
{% endblock %}