{% extends 'base.html.twig' %}

{% block title %} - Visualizar Cidade{% endblock %}

{% block body %}
    <h2 class="text-center">Visualizar Cidade</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cidade.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cidade.nome }}</td>
            </tr>
        </tbody>
    </table>

'
    <a href="{{ path('cidade_edit', {'id': cidade.id}) }}" class="btn btn-info">Editar esta Cidade</a>

    {{ include('cidade/_delete_form.html.twig') }}
{% endblock %}